@import "tailwindcss";

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  background: #f6f7fb;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

.top-tab {
  font-size: 1rem;
}

main {
  font-size: 0.9rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  gap: 1em;
  justify-content: center;
}

.top-tab {
  margin-top: 1em;
}

.badges-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  width: 100%;
  margin-top: 1rem;
}

.single-badge-style {
  display: flex;
  flex-direction: column;



  font-weight: bold;
  border-radius: 1rem;
}

/* display flex */
nav,
.color-picker-sec,
main {
  display: flex;
}

.header {
  margin: 0 auto;
  justify-content: flex-start;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

form input {
  border: solid black 2px;
}

.color-div:hover {
  border: solid 2px red;
}

button:disabled {
  color: gray;
}

button:disabled:hover {
  border: none;
}


/* Extra small devices (phones, less than 600px) */
@media (min-width: 350px) {

  /* styles */
  header {
    font-size: 0.5rem;
  }

}

/* Small devices (large phones, 600px and up) */
@media (max-width: 600px) {
  /* styles */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* styles */
  .badges-sec {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* styles */
  .badges-sec {
    grid-template-columns: repeat(6, 1fr);
  }
}





/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* styles */
  .color-picker-sec,
  .color-picker-sec input {
    font-size: 2rem;
    align-items: end;

  }

  .test-class {
    justify-content: start;

  }

  #picker {
    width: 100%;
    height: 3rem;
  }

  button {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  main {
    font-size: 1rem;
  }

  p,
  h3 {
    font-size: 1.5rem;
  }

  .top-tab {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .badges-sec {
    font-size: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
}